# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Output folders
# =========================
EIS_ERROR_ANALYSIS/
EIS拟合结果/
EIS二阶RC拟合结果/

# =========================
# Generated figures
# =========================
*.png
*.jpg
*.jpeg
*.svg

# =========================
# Excel outputs
# =========================
*.xlsx
*.xls

# =========================
# Raw data folders
# =========================
TJ-EIS-C4-T0/
TJ-EIS-C4-T-10/
TJ-EIS-C4-T15/
TJ-EIS-C4-T25/
TJ-EIS-C4-T35/
TJ-EIS-C4-T45/
TJ-EIS-C4-T55/

# =========================
# Other data folders
# =========================
ZView_TXT/
# =========================
# other files 
# =========================
zview_txt.py
elevate.md
# =========================
# System files
# =========================
.DS_Store
Thumbs.db